* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --verd-clr: #e8eddf;
  --verd-esc: #cfdbd5;
  --yellow: #f5cb5c;
  --black: #242423;
  --grey: #333533;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body {
  z-index: 8;
  width: 100%;
  position: relative;
  background-color: #fff;
}

header {
  position: fixed;
  z-index: 5;
  height: 10vh;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
  background-color: var(--black);
  box-shadow: 1px 3px 1px #333533;
}
header .logo {
  width: 10%;
  height: 100%;
}
@media (max-width: 1015px) {
  header .logo {
    width: 20%;
    height: 80%;
  }
}
header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1015px) {
  header .logo img {
    object-fit: contain;
  }
}
header .menu {
  display: flex;
  width: 40%;
  align-items: center;
}
@media (max-width: 1015px) {
  header .menu {
    width: 20%;
    justify-content: space-between;
  }
}
header .menu-options {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 1015px) {
  header .menu-options {
    position: absolute;
    flex-direction: column;
    height: 90vh;
    top: 10vh;
    left: -100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    background-color: #000;
  }
}
header .menu-options a {
  position: relative;
  transition: all 1s ease-in;
  height: 100%;
  font-size: 1.2rem;
  color: var(--yellow);
  text-shadow: 1px 1px 1px #000;
}
@media (max-width: 1015px) {
  header .menu-options a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 2;
  }
  header .menu-options a::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    background-color: var(--verd-esc);
    left: 20%;
    bottom: 15%;
  }
}
header .menu-options a:hover {
  text-decoration: underline;
}
header .menu-options a:nth-child(5) {
  color: var(--verd-clr);
  text-decoration: underline;
}
header .menu-options .clos {
  color: #fff;
  display: none;
}
@media (max-width: 1015px) {
  header .menu-options .clos {
    position: absolute;
    display: block;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
    z-index: 2;
    font-size: 2.5rem;
    top: 2%;
    right: 2%;
    transition: all 0.5s ease-in;
  }
  header .menu-options .clos:hover {
    color: var(--yellow);
    transform: rotate(90deg);
  }
}
header .menu .bag {
  cursor: pointer;
  font-size: 2rem;
  color: var(--verd-esc);
  position: relative;
}
@media (max-width: 1015px) {
  header .menu .bag {
    font-size: 2rem;
  }
}
header .menu .bag:hover {
  color: var(--yellow);
}
header .menu .bag .bag-notification {
  height: 50%;
  width: 50%;
  background-color: red;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  border-radius: 50%;
  right: 0;
  bottom: -10%;
  display: none;
}
header .menu .submenu {
  display: none;
  color: var(--verd-clr);
  font-size: 2.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
header .menu .submenu:hover {
  color: var(--yellow);
}
@media (max-width: 1015px) {
  header .menu .submenu {
    display: block;
  }
}
header .carrinho {
  position: absolute;
  top: 10vh;
  right: -100%;
  width: 30%;
  height: 90vh;
  z-index: 3;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 1185px) {
  header .carrinho {
    width: 35%;
  }
}
@media (max-width: 1015px) {
  header .carrinho {
    width: 42%;
  }
}
@media (max-width: 900px) {
  header .carrinho {
    width: 50%;
  }
}
@media (max-width: 700px) {
  header .carrinho {
    width: 60%;
  }
}
header .carrinho::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
}
header .carrinho-list {
  position: relative;
  z-index: 4;
  height: 70vh;
  padding-top: 0.5rem;
}
header .carrinho-list-product {
  height: 20vh;
  display: flex;
  position: relative;
  margin-bottom: 1.5rem;
}
header .carrinho-list-product::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  background-color: var(--verd-clr);
  bottom: -5%;
  left: 20%;
  box-shadow: 1px 1px 2px var(--verd-clr);
}
header .carrinho-list-product-pict {
  width: 35%;
  height: 90%;
  padding: 2%;
  margin-top: 1%;
}
@media (max-width: 700px) {
  header .carrinho-list-product-pict {
    width: 40%;
  }
}
header .carrinho-list-product-pict img {
  object-fit: contain;
}
header .carrinho-list-product-info {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 700px) {
  header .carrinho-list-product-info {
    width: 60%;
  }
}
header .carrinho-list-product-info-name {
  width: 100%;
  text-align: left;
  height: 30%;
  color: var(--verd-clr);
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000;
}
@media (max-width: 700px) {
  header .carrinho-list-product-info-name {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header .carrinho-list-product-info-prod {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}
@media (max-width: 1015px) {
  header .carrinho-list-product-info-prod {
    flex-direction: column-reverse;
    height: 60%;
  }
}
header .carrinho-list-product-info-prod-price {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--yellow);
  text-shadow: 1px 1px 1px #000;
  font-size: 1.1rem;
}
@media (max-width: 1015px) {
  header .carrinho-list-product-info-prod-price {
    width: 100%;
    height: 30%;
    font-size: 1rem;
  }
}
@media (max-width: 1015px) {
  header .carrinho-list-product-info-prod-price {
    font-size: 0.9rem;
  }
}
header .carrinho-list-product-info-prod-quant {
  display: flex;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1015px) {
  header .carrinho-list-product-info-prod-quant {
    width: 100%;
    height: 45%;
  }
}
header .carrinho-list-product-info-prod-quant h4 {
  margin-inline: 1rem;
  font-size: 1.1rem;
  color: var(--verd-esc);
  text-shadow: 1px 1px 1px #000;
}
header .carrinho-list-product-info-prod-quant p {
  background-color: var(--yellow);
  height: 35%;
  width: 17%;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
  color: var(--grey);
}
@media (max-width: 1015px) {
  header .carrinho-list-product-info-prod-quant p {
    width: 6%;
    height: 50%;
  }
}
header .carrinho-list-product i {
  color: var(--verd-esc);
  position: absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
}
header .carrinho-results {
  border-top: 2px solid var(--verd-clr);
  position: relative;
  z-index: 4;
  height: 20vh;
  color: #fff;
  padding: 1rem;
  display: flex;
}
header .carrinho-results-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50%;
  align-items: center;
}
header .carrinho-results-text-total {
  text-shadow: 1px 1px 1px #000;
  color: var(--verd-clr);
}
@media (max-width: 900px) {
  header .carrinho-results-text-total {
    font-size: 0.9rem;
  }
}
header .carrinho-results-text-total span {
  font-size: 1.2rem;
  color: var(--yellow);
}
@media (max-width: 900px) {
  header .carrinho-results-text-total span {
    font-size: 0.8rem;
  }
}
header .carrinho-results-text-quants {
  text-shadow: 1px 1px 1px #000;
  color: var(--verd-clr);
}
@media (max-width: 900px) {
  header .carrinho-results-text-quants {
    font-size: 0.9rem;
  }
}
header .carrinho-results-text-quants span {
  font-size: 0.9rem;
  color: var(--verd-clr);
}
header .carrinho-results-finish {
  position: absolute;
  bottom: 10%;
  border-radius: 10px;
  background-color: var(--verd-esc);
  width: 60%;
  color: var(--black);
  left: 20%;
  text-align: center;
  padding-block: 0.5rem;
  transition: all 0.7s ease-in-out;
  font-size: 1.2rem;
  border: 2px solid var(--black);
  cursor: pointer;
}
header .carrinho-results-finish:hover {
  background-color: var(--yellow);
  color: var(--black);
  transform: scale(1.1);
  box-shadow: 2px 2px 1px var(--yellow);
}
header .carrinho-msg {
  color: var(--verd-clr);
  position: absolute;
  top: 20%;
  left: 30%;
  font-size: 1.1rem;
}

section .signup {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("/img/shop/wall1.jpg");
}
@media (max-width: 900px) {
  section .signup {
    flex-direction: column;
    text-align: center;
    height: 25vh;
    padding-block: 1rem;
  }
}
section .signup-text h3 {
  margin-bottom: 0.5rem;
  color: var(--black);
}
section .signup-text p {
  color: var(--grey);
}
section .signup-text p span {
  color: var(--black);
  font-weight: bold;
  text-decoration: underline;
}
section .signup form {
  position: relative;
  border-radius: 5px;
  width: 30%;
  overflow: hidden;
}
@media (max-width: 900px) {
  section .signup form {
    width: 70%;
  }
}
section .signup form input[type=text] {
  width: 90%;
  padding: 0.5rem 1rem;
  color: var(--grey);
}
section .signup form input[type=submit] {
  position: absolute;
  padding: 0.5rem 1rem;
  height: 100%;
  right: 0;
  top: 0;
  color: var(--verd-clr);
  text-shadow: 1px 1px 1px #000;
  background-color: var(--grey);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.7s ease-in;
}
section .signup form input[type=submit]:hover {
  background-color: var(--verd-esc);
  color: var(--grey);
  text-decoration: underline;
  text-shadow: none;
}

footer .footer {
  display: flex;
  height: 60vh;
  padding-inline: 1.5rem;
  align-items: center;
  color: #fff;
  background-color: var(--black);
}
@media (max-width: 1015px) {
  footer .footer {
    flex-direction: column;
    height: 75vh;
  }
}
@media (max-width: 700px) {
  footer .footer {
    height: 90vh;
  }
}
footer .footer-contact {
  width: 30%;
  height: 80%;
}
@media (max-width: 1015px) {
  footer .footer-contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
  }
}
@media (max-width: 700px) {
  footer .footer-contact {
    height: 30vh;
    margin-bottom: 1rem;
  }
}
footer .footer-contact-pict {
  width: 40%;
  height: 30%;
  margin-bottom: 1.5rem;
}
@media (max-width: 1015px) {
  footer .footer-contact-pict {
    height: 50%;
  }
}
@media (max-width: 700px) {
  footer .footer-contact-pict {
    width: 30%;
    height: 30%;
  }
}
footer .footer-contact-pict img {
  object-fit: cover;
}
@media (max-width: 1015px) {
  footer .footer-contact-pict img {
    object-fit: contain;
  }
}
footer .footer-contact-text h4 {
  margin-bottom: 0.4rem;
  color: var(--verd-esc);
}
footer .footer-contact-text-us {
  margin-block: 1rem;
}
footer .footer-contact-text-us li {
  display: flex;
  align-items: center;
}
footer .footer-contact-text-us li h5 {
  margin-right: 0.5rem;
  color: var(--verd-esc);
}
footer .footer-contact-text-us li p {
  font-size: 0.8rem;
  color: var(--verd-clr);
}
footer .footer-contact-text-us li:not(:last-child) {
  margin-bottom: 0.4rem;
}
footer .footer-contact-text-social {
  display: flex;
}
footer .footer-contact-text-social li {
  transition: all 0.4s ease-in-out;
  color: var(--verd-clr);
  cursor: pointer;
}
footer .footer-contact-text-social li:not(:last-child) {
  margin-right: 0.5rem;
}
footer .footer-contact-text-social-fb:hover {
  color: rgb(52, 52, 192);
}
footer .footer-contact-text-social-in:hover {
  color: rgb(231, 52, 186);
}
footer .footer-contact-text-social-tt:hover {
  color: rgb(16, 116, 197);
}
footer .footer-contact-text-social-pi:hover {
  color: rgb(235, 122, 184);
}
footer .footer-contact-text-social-yt:hover {
  color: red;
}
footer .footer-info {
  width: 70%;
  display: flex;
}
@media (max-width: 1015px) {
  footer .footer-info {
    width: 100%;
    height: 50%;
    justify-content: center;
  }
}
@media (max-width: 700px) {
  footer .footer-info {
    height: 50vh;
    flex-wrap: wrap;
    justify-content: left;
  }
}
footer .footer-info-card {
  padding-inline: 1rem;
}
footer .footer-info-card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--verd-esc);
}
@media (max-width: 900px) {
  footer .footer-info-card h4 {
    font-size: 1rem;
  }
}
footer .footer-info-card li {
  font-size: 0.8rem;
  color: var(--verd-clr);
  cursor: pointer;
}
@media (max-width: 900px) {
  footer .footer-info-card li {
    font-size: 0.7rem;
  }
}
footer .footer-info-card li:hover {
  text-decoration: underline;
}
footer .footer-info-card li:not(:last-child) {
  margin-bottom: 0.5rem;
}
footer .footer-info-card-app {
  display: flex;
  margin-bottom: 1rem;
  height: 50px;
  width: 300px;
  justify-content: space-between;
}
@media (max-width: 900px) {
  footer .footer-info-card-app {
    width: 200px;
    justify-content: space-around;
  }
}
footer .footer-info-card-app-pict1 {
  width: 46%;
}
@media (max-width: 900px) {
  footer .footer-info-card-app-pict1 {
    width: 40%;
  }
}
footer .footer-info-card-app-pict2 {
  width: 46%;
}
@media (max-width: 900px) {
  footer .footer-info-card-app-pict2 {
    width: 40%;
  }
}
footer .footer-info-card-payment {
  display: flex;
  height: 50px;
  width: 50%;
  justify-content: space-around;
}
footer .footer-info-card-payment div {
  width: 23%;
}
footer .footer-info-card:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 1015px) {
  footer .footer-info-card:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 900px) {
  footer .footer-info-card:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
footer .under {
  background-color: var(--black);
  padding-block: 1rem;
  text-align: center;
  font-size: 0.7rem;
  color: var(--verd-esc);
  border-top: 1px solid var(--verd-clr);
}

.invi {
  left: 0 !important;
}

.bagScreen {
  right: 0 !important;
}

/*# sourceMappingURL=contact.css.map */
