* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --verd-clr: #e8eddf;
  --verd-esc: #cfdbd5;
  --yellow: #f5cb5c;
  --black: #242423;
  --grey: #333533;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body {
  width: 100%;
  position: relative;
  background-color: #fff;
}

header {
  position: fixed;
  z-index: 5;
  height: 10vh;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
  background-color: var(--black);
  box-shadow: 1px 3px 1px #333533;
}
header .logo {
  width: 10%;
  height: 100%;
}
header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .menu {
  display: flex;
  width: 40%;
  align-items: center;
}
header .menu-options {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
header .menu-options a {
  position: relative;
  transition: all 1s ease-in;
  height: 100%;
  font-size: 1.2rem;
  color: var(--yellow);
  text-shadow: 1px 1px 1px #000;
}
header .menu-options a:hover {
  text-decoration: underline;
}
header .menu-options a:first-child {
  color: var(--verd-esc);
  text-decoration: underline;
}
header .menu-options i {
  font-size: 1.3rem;
  color: var(--verd-esc);
}
header .menu .submenu {
  display: none;
}

.lading {
  border: 1px solid #000;
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--black);
}
.lading-text {
  width: 45%;
  padding-left: 5%;
}
.lading-text h1 {
  font-size: 2.5rem;
  width: 80%;
  margin-block: 1rem 1.5rem;
  color: var(--yellow);
  text-shadow: 1px 1px 1px #000;
}
.lading-text h3,
.lading-text h4 {
  color: var(--verd-clr);
  text-shadow: 1px 1px 1px #000;
}
.lading-text-button {
  text-shadow: 1px 1px 1px #242423;
  display: inline-block;
  margin-top: 2rem;
  position: relative;
  transition: all 0.2s ease-in;
  z-index: 1;
  cursor: pointer;
}
.lading-text-button:hover {
  color: var(--black);
}
.lading-text-button::before {
  position: absolute;
  content: "";
  top: -10%;
  left: -10%;
  width: 130%;
  height: 130%;
  background-image: url("/img/background/back1.png");
  background-size: 170% 170%;
  background-position: center;
  z-index: -1;
}
.lading-picts {
  width: 55%;
  height: 100%;
  position: relative;
}
.lading-picts-p1 {
  position: absolute;
  box-shadow: 1px 1px 1px #000;
  border-radius: 3px;
  width: 30%;
  height: 45%;
  top: 10%;
  left: 10%;
}
.lading-picts-p1 img {
  object-fit: cover;
}
.lading-picts-p2 {
  position: absolute;
  box-shadow: 1px 1px 1px #000;
  border-radius: 3px;
  width: 30%;
  height: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lading-picts-p2 img {
  object-fit: cover;
}
.lading-picts-p3 {
  position: absolute;
  box-shadow: 1px 1px 1px #000;
  border-radius: 3px;
  width: 30%;
  height: 45%;
  bottom: 10%;
  right: 10%;
}
.lading-picts-p3 img {
  object-fit: cover;
}

main .cards {
  width: 90%;
  margin-inline: auto;
  display: flex;
  height: 35vh;
  justify-content: space-around;
  margin-block: 8rem 5rem;
}
main .cards-card {
  width: 20%;
  padding-block: 1rem;
  text-align: center;
  border: 2px solid var(--verd-clr);
  box-shadow: 1px 1px 1px var(--yellow);
}
main .cards-card-pict {
  background-color: var(--yellow);
  height: 70%;
  width: 60%;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .cards-card-pict i {
  font-size: 4rem;
}
main .cards-card-name {
  display: inline-block;
  position: relative;
  color: var(--grey);
}
main .main-title {
  text-align: center;
  margin-bottom: 4rem;
}
main .main-title h2 {
  font-size: 2.5rem;
  color: var(--black);
}
main .main-title p {
  color: var(--grey);
}
main .shop1 {
  border: 1px solid #000;
  margin-block: 2rem;
}
main .shop1-zone {
  padding-block: 0.5rem;
  border: 1px solid coral;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--black);
}
main .shop1-zone-card {
  min-width: 280px;
  min-height: 330px;
  max-width: 280px;
  max-height: 330px;
  margin-bottom: 1rem;
  padding-block: 0.5rem;
}
main .shop1-zone-card-pict {
  background-color: var(--grey);
  width: 80%;
  margin-inline: auto;
  height: 70%;
  border-radius: 10px;
}
main .shop1-zone-card-pict img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
main .shop1-zone-card-text {
  text-align: left;
  height: 25%;
  width: 80%;
  margin: 5% auto 0;
  position: relative;
}
main .shop1-zone-card-text-base {
  color: var(--verd-esc);
  font-size: 0.8rem;
}
main .shop1-zone-card-text-name {
  color: var(--verd-clr);
  font-size: 1.2rem;
  margin-block: 0.1rem 0.2rem;
}
main .shop1-zone-card-text-star {
  font-size: 0.7rem;
  color: var(--yellow);
  text-shadow: 1px 1px 1px #000;
}
main .shop1-zone-card-text-price {
  margin-top: 0.2rem;
  font-size: 1rem;
  color: var(--verd-clr);
}
main .shop1-zone-card-text .cart {
  color: var(--yellow);
  border-radius: 50%;
  height: 43%;
  width: 13%;
  background-color: #000;
  border: 2px solid var(--yellow);
  position: absolute;
  bottom: 15%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.6s ease-in;
}
main .shop1-zone-card-text .cart:hover {
  background-color: var(--yellow);
  color: #000;
}
main .thubnail {
  margin-block: 7rem;
  background-color: var(--verd-esc);
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .thubnail h5 {
  color: var(--grey);
}
main .thubnail h2 {
  margin-block: 0.5rem 1.5rem;
  color: var(--black);
}
main .thubnail h2 span {
  color: var(--yellow);
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  text-decoration: underline;
}
main .thubnail h3 {
  display: inline-block;
  background-color: var(--grey);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: var(--verd-clr);
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .thubnail h3:hover {
  transform: scale(1.1);
}
main .secd-title {
  text-align: center;
  margin-bottom: 4rem;
}
main .secd-title h2 {
  font-size: 2.5rem;
  color: var(--black);
}
main .secd-title p {
  color: var(--grey);
}
main .shop2 {
  border: 1px solid #000;
  margin-block: 2rem 0.5rem;
  display: flex;
}
main .shop2-search {
  border: 1px solid magenta;
  width: 15%;
}
main .shop2-search h4 {
  width: 90%;
  margin: 1rem auto 2rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--black);
  position: relative;
  text-decoration: underline;
}
main .shop2-search h4::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 90%;
  bottom: -5%;
  left: 5%;
  background-color: var(--black);
}
main .shop2-search-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .shop2-search-cards li {
  display: inline-block;
  background-color: var(--grey);
  color: var(--yellow);
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  margin: 0.3rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
main .shop2-search-cards li:hover {
  text-decoration: underline;
  color: var(--verd-clr);
}
main .shop2-zone {
  padding-block: 0.5rem;
  border: 1px solid rgb(209, 209, 209);
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--black);
}
main .shop2-zone-card {
  border: 1px solid cyan;
  min-width: 280px;
  min-height: 330px;
  max-width: 280px;
  max-height: 330px;
  margin-bottom: 1rem;
  padding-block: 0.5rem;
}
main .shop2-zone-card-pict {
  background-color: var(--grey);
  width: 80%;
  margin-inline: auto;
  height: 70%;
  border-radius: 10px;
}
main .shop2-zone-card-pict img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
main .shop2-zone-card-text {
  text-align: left;
  height: 25%;
  width: 80%;
  margin: 5% auto 0;
  position: relative;
}
main .shop2-zone-card-text-base {
  color: var(--verd-esc);
  font-size: 0.8rem;
}
main .shop2-zone-card-text-name {
  color: var(--verd-clr);
  font-size: 1.2rem;
  margin-block: 0.1rem 0.2rem;
}
main .shop2-zone-card-text-star {
  font-size: 0.7rem;
  color: var(--yellow);
  text-shadow: 1px 1px 1px #000;
}
main .shop2-zone-card-text-price {
  margin-top: 0.2rem;
  font-size: 1rem;
  color: var(--yellow);
}
main .shop2-zone-card-text-price span {
  margin-right: 0.5rem;
  text-decoration: line-through;
  color: var(--verd-clr);
}
main .shop2-zone-card-text .cart {
  color: var(--yellow);
  border-radius: 50%;
  height: 43%;
  width: 13%;
  background-color: #000;
  border: 2px solid var(--yellow);
  position: absolute;
  bottom: 15%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.6s ease-in;
}
main .shop2-zone-card-text .cart:hover {
  background-color: var(--yellow);
  color: #000;
}
main .pag {
  width: 85%;
  margin-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .pag p {
  margin-right: 0.7rem;
  cursor: pointer;
  font-weight: bold;
}
main .pag p:hover {
  text-decoration: underline;
  color: var(--yellow);
  text-shadow: 1px 1px 1px #000;
}
main .pag p:first-child {
  text-decoration: underline;
}

section .thubnail2 {
  height: 100vh;
  width: 90%;
  margin: 7rem auto 3rem;
}
section .thubnail2-linear1 {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section .thubnail2-linear1 .box {
  height: 80%;
  width: 45%;
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  flex-direction: column;
  position: relative;
  z-index: 2;
  box-shadow: 1px 1px 1px var(--black);
}
section .thubnail2-linear1 .box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  z-index: -1;
}
section .thubnail2-linear1 .box p {
  color: var(--verd-clr);
}
section .thubnail2-linear1 .box h3 {
  font-size: 1.8rem;
  margin-block: 0.5rem;
  color: var(--verd-esc);
}
section .thubnail2-linear1 .box h5 {
  border: 1px solid var(--verd-esc);
  margin-top: 1rem;
  display: inline-block;
  padding-block: 0.4rem;
  width: 20%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--verd-esc);
}
section .thubnail2-linear1-box1::before {
  background-image: url("/img/thubnail2/pict1.png");
}
section .thubnail2-linear1-box2::before {
  background-image: url("/img/thubnail2/pict0.png");
}
section .thubnail2-linear2 {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
section .thubnail2-linear2 .box {
  position: relative;
  z-index: 2;
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-shadow: 2px 2px 2px #000;
  box-shadow: 1px 1px 1px var(--black);
}
section .thubnail2-linear2 .box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  z-index: -1;
}
section .thubnail2-linear2 .box h3 {
  font-size: 1.8rem;
  color: var(--verd-clr);
}
section .thubnail2-linear2 .box h5 {
  color: var(--yellow);
}
section .thubnail2-linear2-box1::before {
  background-image: url("/img/thubnail2/pict4.png");
}
section .thubnail2-linear2-box2::before {
  background-image: url("/img/thubnail2/pict3.png");
}
section .thubnail2-linear2-box3::before {
  background-image: url("/img/thubnail2/pict2.png");
}
section .signup {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--verd-esc);
}
section .signup-text h3 {
  margin-bottom: 0.5rem;
  color: var(--black);
}
section .signup-text p {
  color: var(--grey);
}
section .signup-text p span {
  color: var(--black);
  font-weight: bold;
  text-decoration: underline;
}
section .signup form {
  position: relative;
  border-radius: 5px;
  width: 30%;
  overflow: hidden;
}
section .signup form input[type=text] {
  width: 90%;
  padding: 0.5rem 1rem;
  color: var(--grey);
}
section .signup form input[type=submit] {
  position: absolute;
  padding: 0.5rem 1rem;
  height: 100%;
  right: 0;
  top: 0;
  color: var(--verd-clr);
  text-shadow: 1px 1px 1px #000;
  background-color: var(--grey);
  outline: none;
  border: none;
  cursor: pointer;
}

footer .footer {
  border: 1px solid #000;
  display: flex;
  height: 50vh;
  padding-inline: 1.5rem;
  align-items: center;
}
footer .footer-contact {
  border: 1px solid blue;
  width: 30%;
}
footer .footer-contact-pict {
  border: 1px solid red;
  width: 40%;
}
footer .footer-contact-pict img {
  border: 1px solid cyan;
  width: 100%;
  height: 100%;
}
footer .footer-contact-text h4 {
  margin-block: 0.6rem;
}
footer .footer-contact-text-us {
  border: 1px solid green;
}
footer .footer-contact-text-us li {
  display: flex;
}
footer .footer-contact-text-us li h5 {
  margin-right: 0.5rem;
}
footer .footer-contact-text-us li:not(:last-child) {
  margin-bottom: 0.4rem;
}
footer .footer-contact-text-social {
  border: 1px solid blue;
  display: flex;
}
footer .footer-info {
  border: 1px solid green;
  width: 70%;
  display: flex;
}
footer .footer-info-card {
  border: 1px solid crimson;
  padding-inline: 1rem;
}
footer .footer-info-card h4 {
  margin-bottom: 1rem;
}
footer .footer-info-card li:not(:last-child) {
  border: 1px solid blue;
  margin-bottom: 0.5rem;
}
footer .footer-info-card-app {
  border: 1px solid green;
  display: flex;
  margin-bottom: 1rem;
  height: 50px;
  width: 300px;
  justify-content: space-between;
}
footer .footer-info-card-app-pict1 {
  border: 1px solid red;
  width: 46%;
}
footer .footer-info-card-app-pict1 img {
  border: 1px solid cyan;
  height: 100%;
  width: 100%;
}
footer .footer-info-card-app-pict2 {
  border: 1px solid rgb(209, 140, 11);
  width: 46%;
}
footer .footer-info-card-app-pict2 img {
  border: 1px solid cyan;
  height: 100%;
  width: 100%;
}
footer .footer-info-card-payment {
  border: 1px solid green;
  display: flex;
  height: 50px;
  justify-content: space-between;
}
footer .footer-info-card-payment div {
  border: 1px solid burlywood;
  width: 23%;
}
footer .footer-info-card-payment div img {
  border: 1px solid cyan;
  height: 100%;
  width: 100%;
}
footer .footer-info-card:not(:last-child) {
  margin-right: 2rem;
}
footer .under {
  border: 1px solid red;
  padding-block: 1rem;
  text-align: center;
  font-size: 0.7rem;
}

/*# sourceMappingURL=index.css.map */
