@use "mixim";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --verd-clr: #e8eddf;
  --verd-esc: #cfdbd5;
  --yellow: #f5cb5c;
  --black: #242423;
  --grey: #333533;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body {
  z-index: 8;
  width: 100%;
  position: relative;
  background-color: #fff;
}
header {
  position: fixed;
  z-index: 5;
  height: 10vh;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
  background-color: var(--black);
  box-shadow: 1px 3px 1px #333533;
  .logo {
    width: 10%;
    height: 100%;
    @include mixim.tela_1015 {
      width: 20%;
      height: 80%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include mixim.tela_1015 {
        object-fit: contain;
      }
    }
  }
  .menu {
    display: flex;
    width: 40%;
    align-items: center;
    @include mixim.tela_1015 {
      width: 20%;
      justify-content: space-between;
    }
    &-options {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      @include mixim.tela_1015 {
        position: absolute;
        flex-direction: column;
        height: 90vh;
        top: 10vh;
        left: -100%;
        width: 100%;
        transition: all 0.5s ease-in-out;
        background-color: #000;
      }
      a {
        position: relative;
        transition: all 1s ease-in;
        height: 100%;
        font-size: 1.2rem;
        color: var(--yellow);
        text-shadow: 1px 1px 1px #000;
        @include mixim.tela_1015 {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          z-index: 2;
          &::before {
            content: "";
            position: absolute;
            width: 60%;
            height: 1px;
            background-color: var(--verd-esc);
            left: 20%;
            bottom: 15%;
          }
        }
      }
      a:hover {
        text-decoration: underline;
      }
      a:nth-child(3) {
        color: var(--verd-clr);
        text-decoration: underline;
      }
      .clos {
        color: #fff;
        display: none;
        @include mixim.tela_1015 {
          position: absolute;
          display: block;
          text-shadow: 1px 1px 1px #000;
          cursor: pointer;
          z-index: 2;
          font-size: 2.5rem;
          top: 2%;
          right: 2%;
          transition: all 0.5s ease-in;
          &:hover {
            color: var(--yellow);
            transform: rotate(90deg);
          }
        }
      }
    }
    .bag {
      cursor: pointer;
      font-size: 2rem;
      color: var(--verd-esc);
      position: relative;
      @include mixim.tela_1015 {
        font-size: 2rem;
      }
      &:hover {
        color: var(--yellow);
      }
      .bag-notification {
        height: 50%;
        width: 50%;
        background-color: red;
        position: absolute;
        @include mixim.display;
        font-size: 0.6rem;
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
        border-radius: 50%;
        right: 0;
        bottom: -10%;
        display: none;
      }
    }
    .submenu {
      display: none;
      color: var(--verd-clr);
      font-size: 2.2rem;
      cursor: pointer;
      transition: all 0.5s ease-in;
      &:hover {
        color: var(--yellow);
      }
      @include mixim.tela_1015 {
        display: block;
      }
    }
  }
  .carrinho {
    position: absolute;
    top: 10vh;
    right: -100%;
    width: 30%;
    height: 90vh;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    @include mixim.tela_1185 {
      width: 35%;
    }
    @include mixim.tela_1015 {
      width: 42%;
    }
    @include mixim.tela_900 {
      width: 50%;
    }
    @include mixim.tela_700 {
      width: 60%;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.9;
    }
    &-list {
      position: relative;
      z-index: 4;
      height: 70vh;
      padding-top: 0.5rem;
      &-product {
        height: 20vh;
        display: flex;
        position: relative;
        margin-bottom: 1.5rem;
        &::before {
          content: "";
          position: absolute;
          width: 60%;
          height: 1px;
          background-color: var(--verd-clr);
          bottom: -5%;
          left: 20%;
          box-shadow: 1px 1px 2px var(--verd-clr);
        }
        &-pict {
          width: 35%;
          height: 90%;
          padding: 2%;
          margin-top: 1%;
          @include mixim.tela_700 {
            width: 40%;
          }
          img {
            object-fit: contain;
          }
        }
        &-info {
          width: 65%;
          height: 100%;
          @include mixim.display;
          flex-direction: column;
          @include mixim.tela_700 {
            width: 60%;
          }
          &-name {
            width: 100%;
            text-align: left;
            height: 30%;
            color: var(--verd-clr);
            font-size: 1.2rem;
            text-shadow: 1px 1px 1px #000;
            @include mixim.tela_700 {
              font-size: 1rem;
              @include mixim.display;
            }
          }
          &-prod {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            height: 50%;
            @include mixim.tela_1015 {
              flex-direction: column-reverse;
              height: 60%;
            }
            &-price {
              width: 60%;
              height: 100%;
              @include mixim.display;
              color: var(--yellow);
              text-shadow: 1px 1px 1px #000;
              font-size: 1.1rem;
              @include mixim.tela_1015 {
                width: 100%;
                height: 30%;
                font-size: 1rem;
              }
              @include mixim.tela_1015 {
                font-size: 0.9rem;
              }
            }
            &-quant {
              display: flex;
              width: 40%;
              height: 100%;
              @include mixim.display;
              @include mixim.tela_1015 {
                width: 100%;
                height: 45%;
              }
              @include mixim.tela_700 {
              }
              h4 {
                margin-inline: 1rem;
                font-size: 1.1rem;
                color: var(--verd-esc);
                text-shadow: 1px 1px 1px #000;
              }
              p {
                background-color: var(--yellow);
                height: 35%;
                width: 17%;
                border-radius: 5px;
                font-weight: bold;
                @include mixim.display;
                font-size: 1.1rem;
                cursor: pointer;
                color: var(--grey);
                @include mixim.tela_1015 {
                  width: 6%;
                  height: 50%;
                }
              }
            }
          }
        }
        i {
          color: var(--verd-esc);
          position: absolute;
          top: 1%;
          right: 2%;
          cursor: pointer;
        }
      }
    }
    &-results {
      border-top: 2px solid var(--verd-clr);
      position: relative;
      z-index: 4;
      height: 20vh;
      color: #fff;
      padding: 1rem;
      display: flex;
      &-text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 50%;
        align-items: center;
        &-total {
          text-shadow: 1px 1px 1px #000;
          color: var(--verd-clr);
          @include mixim.tela_900 {
            font-size: 0.9rem;
          }
          span {
            font-size: 1.2rem;
            color: var(--yellow);
            @include mixim.tela_900 {
              font-size: 0.8rem;
            }
          }
        }
        &-quants {
          text-shadow: 1px 1px 1px #000;
          color: var(--verd-clr);
          @include mixim.tela_900 {
            font-size: 0.9rem;
          }
          span {
            font-size: 0.9rem;
            color: var(--verd-clr);
          }
        }
      }

      &-finish {
        position: absolute;
        bottom: 10%;
        border-radius: 10px;
        background-color: var(--verd-esc);
        width: 60%;
        color: var(--black);
        left: 20%;
        text-align: center;
        padding-block: 0.5rem;
        transition: all 0.7s ease-in-out;
        font-size: 1.2rem;
        border: 2px solid var(--black);
        cursor: pointer;
        &:hover {
          background-color: var(--yellow);
          color: var(--black);
          transform: scale(1.1);
          box-shadow: 2px 2px 1px var(--yellow);
        }
      }
    }
    &-msg {
      color: var(--verd-clr);
      position: absolute;
      top: 20%;
      left: 30%;
      font-size: 1.1rem;
    }
  }
}
// ---------------------------- --------------------- Lading
.lading {
  margin-block: 10vh;
  height: 40vh;
  @include mixim.display;
  flex-direction: column;
  background-image: url(/img/blog/wall.png);
  background-size: 100% 100%;
  color: #fff;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
    filter: blur(2px);
  }
  h2 {
    position: relative;
    z-index: 1;
    font-size: 2.9rem;
    margin-bottom: 0.5rem;
  }
  p {
    position: relative;
    z-index: 1;
  }
  .colored {
    font-weight: bold;
    animation: colored 10s infinite linear alternate-reverse;
  }
}

// ---------------------------- --------------------- Main
main {
  margin: 20vh auto;
  width: 90%;
  .box {
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -15%;
      left: 0;
      width: 30%;
      height: 20%;
      color: rgb(75, 75, 75);
      font-size: 4rem;
      font-weight: bold;
      @include mixim.tela_700 {
        top: -12%;
      }
    }
    @include mixim.tela_700 {
      flex-direction: column;
    }
    &-pict {
      position: relative;

      width: 40%;
      padding: 1rem;
      height: 50vh;
      @include mixim.tela_1015 {
        width: 50%;
      }
      @include mixim.tela_700 {
        width: 85%;
        margin-bottom: 1rem;
        height: 40vh;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url(/img/shop/wall1.jpg);
        background-size: 100% 100%;
        opacity: 0.6;
        z-index: -1;
      }
      img {
        height: 100%;
        object-fit: cover;
        position: relative;
      }
    }
    &-text {
      width: 50%;
      padding-left: 0.5rem;
      margin: 0 auto;
      @include mixim.tela_700 {
        width: 95%;
      }
      h3 {
        font-size: 1.5rem;
        text-decoration: underline;
      }
      p {
        color: var(--grey);
        margin-block: 1rem;
        font-size: 0.9rem;
      }
      &-link {
        display: flex;
        align-items: center;

        h5 {
          font-size: 0.7rem;
          margin-right: 0.5rem;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        i {
        }
      }
    }
  }
  .box:not(:last-child) {
    margin-bottom: 15vh;
    @include mixim.tela_700 {
      margin-bottom: 25vh;
    }
  }
  .box:first-child {
    &::before {
      content: "12/01";
      @include mixim.tela_700 {
        font-size: 2.5rem;
        top: -7%;
        left: 7%;
      }
    }
  }
  .box:nth-child(2) {
    &::before {
      content: "27/01";
      left: 85%;
      @include mixim.tela_700 {
        left: 70%;
        font-size: 2.5rem;
        top: -7%;
      }
    }
  }
  .box:nth-child(3) {
    &::before {
      content: "16/02";
      @include mixim.tela_700 {
        font-size: 2.5rem;
        top: -7%;
        left: 7%;
      }
    }
  }
  .box:nth-child(4) {
    &::before {
      content: "06/04";
      left: 85%;
      @include mixim.tela_700 {
        left: 70%;
        font-size: 2.5rem;
        top: -7%;
      }
    }
  }
  .box:last-child {
    &::before {
      content: "22/05";
      @include mixim.tela_700 {
        font-size: 2.5rem;
        top: -7%;
        left: 7%;
      }
    }
  }

  .b1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    @include mixim.tela_700 {
      flex-direction: column;
    }
    &-text {
    }
  }
}
// ---------------------------- --------------------- SECTION
section {
  .signup {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("/img/shop/wall1.jpg");
    @include mixim.tela_900 {
      flex-direction: column;
      text-align: center;
      height: 25vh;
      padding-block: 1rem;
    }
    &-text {
      h3 {
        margin-bottom: 0.5rem;
        color: var(--black);
      }
      p {
        color: var(--grey);
        span {
          color: var(--black);
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
    form {
      position: relative;
      border-radius: 5px;
      width: 30%;
      overflow: hidden;
      @include mixim.tela_900 {
        width: 70%;
      }
      input[type="text"] {
        width: 90%;
        padding: 0.5rem 1rem;
        color: var(--grey);
      }
      input[type="submit"] {
        position: absolute;
        padding: 0.5rem 1rem;
        height: 100%;
        right: 0;
        top: 0;
        color: var(--verd-clr);
        text-shadow: 1px 1px 1px #000;
        background-color: var(--grey);
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.7s ease-in;
        &:hover {
          background-color: var(--verd-esc);
          color: var(--grey);
          text-decoration: underline;
          text-shadow: none;
        }
      }
    }
  }
}
// ---------------------------- --------------------- FOOTER
footer {
  .footer {
    display: flex;
    height: 60vh;
    padding-inline: 1.5rem;
    align-items: center;
    color: #fff;
    background-color: var(--black);
    @include mixim.tela_1015 {
      flex-direction: column;
      height: 75vh;
    }
    @include mixim.tela_700 {
      height: 90vh;
    }
    &-contact {
      width: 30%;
      height: 80%;
      @include mixim.tela_1015 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50%;
      }
      @include mixim.tela_700 {
        height: 30vh;
        margin-bottom: 1rem;
      }
      &-pict {
        width: 40%;
        height: 30%;
        margin-bottom: 1.5rem;
        @include mixim.tela_1015 {
          height: 50%;
        }
        @include mixim.tela_700 {
          width: 30%;
          height: 30%;
        }
        img {
          object-fit: cover;
          @include mixim.tela_1015 {
            object-fit: contain;
          }
        }
      }
      &-text {
        h4 {
          margin-bottom: 0.4rem;
          color: var(--verd-esc);
        }
        &-us {
          margin-block: 1rem;
          li {
            display: flex;
            align-items: center;
            h5 {
              margin-right: 0.5rem;
              color: var(--verd-esc);
            }
            p {
              font-size: 0.8rem;
              color: var(--verd-clr);
            }
          }
          li:not(:last-child) {
            margin-bottom: 0.4rem;
          }
        }
        &-social {
          display: flex;
          li {
            transition: all 0.4s ease-in-out;
            color: var(--verd-clr);
            cursor: pointer;
          }
          li:not(:last-child) {
            margin-right: 0.5rem;
          }
          &-fb {
            &:hover {
              color: rgb(52, 52, 192);
            }
          }
          &-in {
            &:hover {
              color: rgb(231, 52, 186);
            }
          }
          &-tt {
            &:hover {
              color: rgb(16, 116, 197);
            }
          }
          &-pi {
            &:hover {
              color: rgb(235, 122, 184);
            }
          }
          &-yt {
            &:hover {
              color: red;
            }
          }
        }
      }
    }
    &-info {
      width: 70%;
      display: flex;
      @include mixim.tela_1015 {
        width: 100%;
        height: 50%;
        justify-content: center;
      }
      @include mixim.tela_700 {
        height: 50vh;
        flex-wrap: wrap;
        justify-content: left;
      }
      &-card {
        padding-inline: 1rem;

        h4 {
          margin-bottom: 1rem;
          font-size: 1.2rem;
          color: var(--verd-esc);
          @include mixim.tela_900 {
            font-size: 1rem;
          }
        }
        li {
          font-size: 0.8rem;
          color: var(--verd-clr);
          cursor: pointer;
          @include mixim.tela_900 {
            font-size: 0.7rem;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        li:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        &-app {
          display: flex;
          margin-bottom: 1rem;
          height: 50px;
          width: 300px;
          justify-content: space-between;
          @include mixim.tela_900 {
            width: 200px;
            justify-content: space-around;
          }
          &-pict1 {
            width: 46%;
            @include mixim.tela_900 {
              width: 40%;
            }
          }
          &-pict2 {
            width: 46%;
            @include mixim.tela_900 {
              width: 40%;
            }
          }
        }
        &-payment {
          display: flex;
          height: 50px;
          width: 50%;
          justify-content: space-around;
          div {
            width: 23%;
          }
        }
      }
      &-card:not(:last-child) {
        margin-right: 2rem;
        @include mixim.tela_1015 {
          margin-bottom: 2rem;
        }
      }
      &-card:last-child {
        @include mixim.tela_900 {
          @include mixim.display;
        }
      }
    }
  }
  .under {
    background-color: var(--black);
    padding-block: 1rem;
    text-align: center;
    font-size: 0.7rem;
    color: var(--verd-esc);
    border-top: 1px solid var(--verd-clr);
  }
}
// ---------------------------- --------------------- menu/cart dissapear
.invi {
  left: 0 !important;
}
.bagScreen {
  right: 0 !important;
}
// ---------------------------- ---------animation
@keyframes colored {
  0% {
    color: #fff;
  }
  10% {
    color: #dd1616;
  }
  20% {
    color: #cfb520;
  }
  30% {
    color: #51cf1f;
  }
  40% {
    color: #21c5bd;
  }
  50% {
    color: #2038bd;
  }
  60% {
    color: #b726ca;
  }
  70% {
    color: #c06b1b;
  }
  80% {
    color: #1f1e1e;
  }
  90% {
    color: #2c5a9e;
  }
  100% {
    color: #1bc980;
  }
}
