* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --verd-clr: #e8eddf;
  --verd-esc: #cfdbd5;
  --yellow: #f5cb5c;
  --black: #242423;
  --grey: #333533;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body {
  width: 100%;
  position: relative;
  background-color: #fff;
}
header {
  position: fixed;
  z-index: 5;
  height: 10vh;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
  background-color: var(--black);
  box-shadow: 1px 3px 1px #333533;
  .logo {
    width: 10%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .menu {
    display: flex;
    width: 40%;
    align-items: center;
    &-options {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      a {
        position: relative;
        transition: all 1s ease-in;
        height: 100%;
        font-size: 1.2rem;
        color: var(--yellow);
        text-shadow: 1px 1px 1px #000;
      }
      a:hover {
        text-decoration: underline;
      }
      a:first-child {
        color: var(--verd-esc);
        text-decoration: underline;
      }
      i {
        font-size: 1.3rem;
        color: var(--verd-esc);
      }
    }
    .submenu {
      display: none;
    }
  }
}
.lading {
  border: 1px solid #000;
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--black);
  &-text {
    width: 45%;
    padding-left: 5%;
    h1 {
      font-size: 2.5rem;
      width: 80%;
      margin-block: 1rem 1.5rem;
      color: var(--yellow);
      text-shadow: 1px 1px 1px #000;
    }
    h3,
    h4 {
      color: var(--verd-clr);
      text-shadow: 1px 1px 1px #000;
    }
    &-button {
      text-shadow: 1px 1px 1px #242423;
      display: inline-block;
      margin-top: 2rem;
      position: relative;
      transition: all 0.2s ease-in;
      z-index: 1;
      cursor: pointer;
      &:hover {
        color: var(--black);
      }
      &::before {
        position: absolute;
        content: "";
        top: -10%;
        left: -10%;
        width: 130%;
        height: 130%;
        background-image: url("/img/background/back1.png");
        background-size: 170% 170%;
        background-position: center;
        z-index: -1;
      }
    }
  }
  &-picts {
    width: 55%;
    height: 100%;
    position: relative;
    &-p1 {
      position: absolute;
      box-shadow: 1px 1px 1px #000;
      border-radius: 3px;
      width: 30%;
      height: 45%;
      top: 10%;
      left: 10%;
      img {
        object-fit: cover;
      }
    }
    &-p2 {
      position: absolute;
      box-shadow: 1px 1px 1px #000;
      border-radius: 3px;
      width: 30%;
      height: 45%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        object-fit: cover;
      }
    }
    &-p3 {
      position: absolute;
      box-shadow: 1px 1px 1px #000;
      border-radius: 3px;
      width: 30%;
      height: 45%;
      bottom: 10%;
      right: 10%;
      img {
        object-fit: cover;
      }
    }
  }
}
// ---------------------------- --------------------- MAIN
main {
  .cards {
    width: 90%;
    margin-inline: auto;
    display: flex;
    height: 35vh;
    justify-content: space-around;
    margin-block: 8rem 5rem;
    &-card {
      width: 20%;
      padding-block: 1rem;
      text-align: center;
      border: 2px solid var(--verd-clr);
      box-shadow: 1px 1px 1px var(--yellow);
      &-pict {
        background-color: var(--yellow);
        height: 70%;
        width: 60%;
        margin: 0 auto 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 4rem;
        }
      }
      &-name {
        display: inline-block;
        position: relative;
        color: var(--grey);
      }
    }
  }
  .main-title {
    text-align: center;
    h2 {
      font-size: 2.5rem;
      color: var(--black);
    }
    p {
      color: var(--grey);
    }
  }
  .shop1 {
    border: 1px solid #000;
    margin-block: 2rem;
    &-zone {
      padding-block: 0.5rem;
      border: 1px solid coral;
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      background-color: var(--black);
      &-card {
        min-width: 280px;
        min-height: 330px;
        max-width: 280px;
        max-height: 330px;
        margin-bottom: 1rem;
        padding-block: 0.5rem;
        &-pict {
          background-color: var(--grey);
          width: 80%;
          margin-inline: auto;
          height: 70%;
          border-radius: 10px;
          img {
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
          }
        }
        &-text {
          text-align: left;
          height: 25%;
          width: 80%;
          margin: 5% auto 0;
          position: relative;
          &-base {
            color: var(--verd-esc);
            font-size: 0.8rem;
          }
          &-name {
            color: var(--verd-clr);
            font-size: 1.2rem;
            margin-block: 0.1rem 0.2rem;
          }
          &-star {
            font-size: 0.7rem;
            color: var(--yellow);
            text-shadow: 1px 1px 1px #000;
          }
          &-price {
            margin-top: 0.2rem;
            font-size: 1rem;
            color: var(--verd-clr);
          }
          .cart {
            color: var(--yellow);
            border-radius: 50%;
            height: 43%;
            width: 13%;
            background-color: #000;
            border: 2px solid var(--yellow);
            position: absolute;
            bottom: 15%;
            right: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.6s ease-in;
          }
          .cart:hover {
            background-color: var(--yellow);
            color: #000;
          }
        }
      }
    }
  }
  //------------ --------------- --------------------- --------------
  .thubnail {
    margin-block: 7rem;
    background-color: var(--verd-esc);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h5 {
      color: var(--grey);
    }
    h2 {
      margin-block: 0.5rem 1.5rem;
      color: var(--black);
      span {
        color: var(--yellow);
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
        text-decoration: underline;
      }
    }
    h3 {
      display: inline-block;
      background-color: var(--grey);
      border-radius: 10px;
      padding: 0.5rem 1rem;
      color: var(--verd-clr);
      text-shadow: 1px 1px 1px #000;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .secd-title {
    text-align: center;
    h2 {
      font-size: 2.5rem;
      color: var(--black);
    }
    p {
      color: var(--grey);
    }
  }
  .shop2 {
    border: 1px solid #000;
    margin-block: 2rem;
    display: flex;
    &-search {
      border: 1px solid magenta;
      width: 15%;
      h4 {
        width: 90%;
        margin: 1rem auto 2rem;
        font-size: 1.1rem;
        text-align: center;
        color: var(--black);
        position: relative;
        text-decoration: underline;
        &::before {
          content: "";
          position: absolute;
          height: 1px;
          width: 90%;
          bottom: -5%;
          left: 5%;
          background-color: var(--black);
        }
      }
      &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li {
          display: inline-block;
          background-color: var(--grey);
          color: var(--yellow);
          text-shadow: 1px 1px 1px #000;
          border-radius: 5px;
          padding: 0.2rem 1rem;
          margin: 0.3rem;
          transition: all 0.4s ease-in-out;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: var(--verd-clr);
          }
        }
      }
    }
    &-zone {
      padding-block: 0.5rem;
      border: 1px solid rgb(209, 209, 209);
      width: 85%;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      background-color: var(--black);
      &-card {
        border: 1px solid cyan;
        min-width: 280px;
        min-height: 330px;
        max-width: 280px;
        max-height: 330px;
        margin-bottom: 1rem;
        padding-block: 0.5rem;
        &-pict {
          background-color: var(--grey);
          width: 80%;
          margin-inline: auto;
          height: 70%;
          border-radius: 10px;
          img {
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
          }
        }
        &-text {
          text-align: left;
          height: 25%;
          width: 80%;
          margin: 5% auto 0;
          position: relative;
          &-base {
            color: var(--verd-esc);
            font-size: 0.8rem;
          }
          &-name {
            color: var(--verd-clr);
            font-size: 1.2rem;
            margin-block: 0.1rem 0.2rem;
          }
          &-star {
            font-size: 0.7rem;
            color: var(--yellow);
            text-shadow: 1px 1px 1px #000;
          }
          &-price {
            margin-top: 0.2rem;
            font-size: 1rem;
            color: var(--verd-clr);
          }
          .cart {
            color: var(--yellow);
            border-radius: 50%;
            height: 43%;
            width: 13%;
            background-color: #000;
            border: 2px solid var(--yellow);
            position: absolute;
            bottom: 15%;
            right: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.6s ease-in;
          }
          .cart:hover {
            background-color: var(--yellow);
            color: #000;
          }
        }
      }
    }
  }
  .pag {
    border: 1px solid red;
    width: 90%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    p {
      margin-right: 0.5rem;
      cursor: pointer;
    }
    p:first-child {
      text-decoration: underline;
    }
  }
}

// ---------------------------- --------------------- SECTION
section {
  display: none;
  .thubnail2 {
    border: 1px solid #000;
    height: 100vh;
    width: 90%;
    margin: 0 auto;

    &-linear1 {
      border: 1px solid red;
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &-box1 {
        border: 1px solid green;
        height: 80%;
        width: 45%;
        display: flex;
        justify-content: center;
        padding-left: 2rem;
        flex-direction: column;
        h3 {
          font-size: 1.8rem;
          margin-block: 0.5rem;
        }
        h5 {
          margin-top: 1rem;
          padding: 0.5rem 1rem;
          width: 20%;
          text-align: center;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
        p:last-of-type {
        }
      }
      &-box2 {
        border: 1px solid blue;
        height: 80%;
        width: 45%;
        display: flex;
        justify-content: center;
        padding-left: 2rem;
        flex-direction: column;
        h3 {
          font-size: 1.8rem;
          margin-block: 0.5rem;
        }
        h5 {
          margin-top: 1rem;
          padding: 0.5rem 1rem;
          width: 20%;
          text-align: center;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
        p:last-of-type {
        }
      }
    }
    &-linear2 {
      border: 1px solid red;
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
      .box {
        border: 1px solid orangered;
        width: 30%;
        height: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
  .signup {
    border: 1px solid #000;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &-text {
      border: 1px solid red;
      h3 {
        margin-bottom: 0.5rem;
      }
      p {
        span {
          color: orange;
          text-shadow: 1px 1px 1px #000;
        }
      }
    }
    form {
      position: relative;
      border-radius: 5px;
      border: 1px solid blue;
      width: 30%;
      overflow: hidden;
      input[type="text"] {
        border: 1px solid red;
        width: 90%;
        padding: 0.5rem 1rem;
      }
      input[type="submit"] {
        position: absolute;
        padding: 0.5rem 1rem;
        height: 100%;
        right: 0;
        top: 0;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        background-color: rgb(14, 160, 111);
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

// ---------------------------- --------------------- FOOTER
footer {
  display: none;
  .footer {
    border: 1px solid #000;
    display: flex;
    height: 50vh;
    padding-inline: 1.5rem;
    align-items: center;
    &-contact {
      border: 1px solid blue;
      width: 30%;
      &-pict {
        border: 1px solid red;
        width: 40%;
        img {
          border: 1px solid cyan;
          width: 100%;
          height: 100%;
        }
      }
      &-text {
        h4 {
          margin-block: 0.6rem;
        }
        &-us {
          border: 1px solid green;
          li {
            display: flex;
            h5 {
              margin-right: 0.5rem;
            }
          }
          li:not(:last-child) {
            margin-bottom: 0.4rem;
          }
        }
        &-social {
          border: 1px solid blue;
          display: flex;
        }
      }
    }
    &-info {
      border: 1px solid green;
      width: 70%;
      display: flex;
      &-card {
        border: 1px solid crimson;
        padding-inline: 1rem;
        h4 {
          margin-bottom: 1rem;
        }
        li:not(:last-child) {
          border: 1px solid blue;
          margin-bottom: 0.5rem;
        }
        &-app {
          border: 1px solid green;
          display: flex;
          margin-bottom: 1rem;
          height: 50px;
          width: 300px;
          justify-content: space-between;
          &-pict1 {
            border: 1px solid red;
            width: 46%;
            img {
              border: 1px solid cyan;
              height: 100%;
              width: 100%;
            }
          }
          &-pict2 {
            border: 1px solid rgb(209, 140, 11);
            width: 46%;
            img {
              border: 1px solid cyan;
              height: 100%;
              width: 100%;
            }
          }
        }
        &-payment {
          border: 1px solid green;
          display: flex;
          height: 50px;
          justify-content: space-between;
          div {
            border: 1px solid burlywood;
            width: 23%;
            img {
              border: 1px solid cyan;
              height: 100%;
              width: 100%;
            }
          }
        }
      }
      &-card:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  .under {
    border: 1px solid red;
    padding-block: 1rem;
    text-align: center;
    font-size: 0.7rem;
  }
}
